<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
     <div class="sidebar-logo">
      <img src="https://res.cloudinary.com/gfi-tunisie/image/upload/v1567677397/ordonnance/favicone.png" alt="logo">
        <h1> E-Ordonnance</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu  nzTitle="Accueil" nzIcon="dashboard"></li>
      <li  nz-submenu  nzTitle="Gestion des ordonnances" nzIcon="highlight">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Ajout Ordonnance</a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a>Liste des  Ordonnances</a>
            </li>
          <li nz-menu-item nzMatchRouter>
              <a>Imprimer Ordonnance</a>
          </li>  
        </ul>
      </li>
      <li nz-submenu nzTitle="Gestion des médicaments" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Liste des médicaments</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gestion des rendez-vous" nzIcon="clock-circle"  >
          <ul>
              <li nz-menu-item nzMatchRouter>
                  <a>Gerer les RDV</a>
                </li>
              <li nz-menu-item nzMatchRouter>
                <a>Liste des RDV</a>
              </li>
            </ul>
      </li>
      <li nz-submenu nzTitle="Gestion des patients" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a nzIcon="user" nzTitle="Liste des patients" ></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Don" nzIcon="heart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Créer  un don</a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a>Liste un don</a>
            </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
